
</main>

<footer>
    <div style="font-size: 1.5vw">Kontakt:
        <div>+45 26 98 06 25 <br> +45 61 16 70 17 <br> Info@rytmikbandit.dk</div>
    </div>
    <div style="font-size: 1.5vw">Find os på Facebook og Instagram:
        <div style="padding-top: 3%;">
        <a href="https://www.facebook.com/www.rytmikbandit.dk"><img style="width: 4.5vw; padding-top: 0%;" src="assets/images/facebook-black-logo.jpg" alt=""></a><a href="https://www.instagram.com/rytmikbandit/"><img style="width: 4.5vw; padding-top: 0%" src="assets/images/instagram-black-logo.png" alt=""></a><a href="https://www.discogs.com/user/amagerrecords.dk" style="padding-left: 0.3vw"><img style="width: 4vw; padding-top: 1.5%; border-radius: 50%" src="./images/discogs.png" alt=""></a></div>
    </div>
    <div id="footer-image-box">
        <img src="assets/images/rytmikbandit-logo.webp" id="footer-logo">
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>