main {
    background-color: rgb(30, 30, 30);
}

footer {
    background-color: whitesmoke;
    color: black;
    left: 0;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 2%;
    padding-left: 4%;
}

.navbar-nav .nav-link:hover {
    color: green !important;
}

.navbar-nav .nav-link {
    color: limegreen !important;
    font-weight: bold;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover {
    color: green !important;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-image-container {
    padding-left: 20px;
}

.navbar a {
    font-size: large;
}

.navbar-nav .nav-link {
    margin-right: 30px;  
}


#logo {
    width: 100px;
    height: auto;
}


#front-image {
    margin-top: 85px;
    width: 100%;
    height: auto;
}

.comment-box {
    display: flex;
    background: whitesmoke; /* Baggrundsfarve for comment-box */
    margin-top: -30%; /* Start 50px før billedet slutter */
    margin-left: 5%; /* 10% afstand til venstre side */
    margin-right: 5%; /* 10% afstand til højre side */
    padding: 10px; /* Indvendig afstand for indhold */
    position: relative; /* Gør position: relative for at bruge z-index */
    z-index: 1; 
}

.element {
    display: flex;
    position: relative;
    z-index: 1; 
}

.element-column {
    flex: 1; 
    background-color: royalblue;
    display: flex;
    align-items: center;
}

.element-header {
    padding-top: 5%;
    font-size: 4.5vw;
    font-family: monospace;
    font-weight:bolder;
    text-align: center;
}

.element-header-2 {
    padding-top: 5%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 4.3vw;
    font-family: monospace;
    font-weight:bolder;
    text-align: center;
}

.element-text {
    padding: 5%;
    font-size: 1.6vw;
    font-family: monospace;
    font-weight: 600;
    text-align: center;
}

.element-image {
    width: 100%;
    height: auto;
}

.element-column-2 {
    flex: 1; 
    background-color: black;
    color: whitesmoke;
    display: grid;
    align-items: center;
    text-align: center;
}

.element-image-2 {
    padding: 5%;
    width: 100%;
    height: auto;
    align-items: center;
}

.column {
    flex: 1; 
    padding: 5%; 
}

.credit {
    font-size: 12px;
}

.spacer-div {
    margin: 20px 0; 
    padding: 10px; 
}

.button {
    background-color: limegreen; /* Baggrundsfarve */
    color: #fff; /* Tekstfarve */
    border: none; /* Fjern kanten */
    border-radius: 5px; /* Afrundede hjørner */
    font-weight: bold;
    padding: 10px 20px; /* Intern polstring */
    cursor: pointer; /* Ændrer cursoren til en hånd, når du holder musen over knappen */
    transition: background-color 0.3s; /* Tilføj en overgangseffekt til baggrundsfarven */

    /* Hover-effekt: Når musen er over knappen */
    &:hover {
        background-color: black; /* Ændrer baggrundsfarven på hover */
    }
}

.button-2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: aqua;
    color: white;
    text-decoration: none; 
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 1%;
    width: 40vw;
}

.button-2:hover {
    background-color: darkcyan !important;
    color: white;
}

#footer-logo {
    width: 83%;
    height: auto;
    align-items: end;
    margin-left: 185%;
}

#footer-image-box {
    align-items: end;
    max-width: 33%;
}


@media (max-width: 600px) {
    
    .navbar a {
        font-size: medium !important;
    }

    .navbar-image-container {
        padding-left: 0px;
    }

    .element {
        display: grid;
    }
    
    .spacer-div {
        padding: 1px; 
    }

    .comment-box {
        display: none;
    }

    .spacer-div {
        margin: 0px;
        padding: 1;
    }

    .element-header {
        font-size: 5vw;
    }

    .element-header-2 {
        font-size: 4.8vw;
    }

    .element-text {
        font-size: 3.5vw;
    }

    footer {
        font-size: 2vw;
        font-weight: 500;
        padding: 2%;
        padding-left: 4%;
    }

    #footer-logo {
        width: 100%;
        margin-left: 80%;
    }

    #footer-image-box {
        max-width: 45%;
    }

    #logo {
        width: 70px;
        height: auto;
    }
    
}
